@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
  /* Prevent overscroll bounce */
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  /* Disable drag-to-select on most elements */
  user-select: none;
}

a, img {
  /* TODO do we need to do this another way for Chromium? */
  /* Disable drag-n-drop for images and links in Safari */
  -webkit-user-drag: none;
}

.right-shadow {
  &:after {
    content: " ";
    height: 104%;
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 80%);
    top: 0;
    width: 5px;
    right: -5px;
    z-index: 1;
    clip-path: inset(-100vw -100vw -100vw 0);
    filter: blur(4px);
  }
}
